# Environment
.env
*.env.local
backend/firebase-service-account.json
pyrightconfig.json*

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
*.egg

# Node
frontend/node_modules/
frontend/dist/

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp

# Docker volumes
pgdata/
